* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#background {
	height: 100vh;
	width: (800/9)vh;
	background-color: gray;
}

#lines {
	border: 5px solid black;
	color: white;
	background-color: none;
	margin: 5px;
	width:200px;
	border-collapse: collapse;
}

td{
	border: 1px solid yellow;
	height: 100vh;
}

#put {
	position: absolute;
	top: 50%;
	right: 100px;
}